<form
    id="form"
    hx-post="/funcionario/atualizar/{{ id }}"
    hx-target="#result"
    hx-swap="innerHTML"
>
    <h1 class="text-2xl font-bold mb-6">Atualizando Funcionário</h1>
    <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
            <label for="nome" class="block text-gray-700">Nome:</label>
            <input
                type="text"
                id="nome"
                name="nome"
                class="w-full p-2 border border-gray-300 rounded mt-1"
                value="{{ funcionario.nome }}"
                required
            />
        </div>
        <div class="w-1/2">
            <label for="especialidade" class="block text-gray-700">Especialidade:</label>
            <input
                type="text"
                id="especialidade"
                name="especialidade"
                class="w-full p-2 border border-gray-300 rounded mt-1"
                value="{{ funcionario.especialidade }}"
            />
        </div>
    </div>
    <div class="mb-4">
        <label for="email" class="block text-gray-700">Email:</label>
        <input
            type="email"
            id="email"
            name="email"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            value="{{ funcionario.email }}"
            required
        />
    </div>
    <div class="mb-4">
        <label for="senha" class="block text-gray-700">Senha:</label>
        <input
            type="password"
            id="senha"
            name="senha"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            value="{{ funcionario.senha }}"  
            required
        />
    </div>
    <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">
            Atualizar
        </button>
    </div>
</form>
