<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Incluindo o Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Estilo adicional para o efeito glassmorphism */
        .glass {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    </style>
</head>
<body class="h-screen bg-cover bg-center" style="background-image: url('/static/bg.svg'); background-color: #040d1b">

    <div class="flex items-center justify-center h-full">
        <div class="glass p-8 max-w-md w-full">
            <h2 class="text-3xl font-bold text-center text-white mb-6">Tekove</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="mb-4">
                    <label class="block text-white mb-2" for="email">Email:</label>
                    <input 
                        class="w-full p-3 rounded-lg bg-white bg-opacity-20 placeholder-gray-300 text-white focus:outline-none focus:ring-2 focus:ring-white" 
                        type="email" 
                        id="email" 
                        name="email" 
                        placeholder="Digite seu email" 
                        required>
                </div>
                <div class="mb-4">
                    <label class="block text-white mb-2" for="password">Senha:</label>
                    <input 
                        class="w-full p-3 rounded-lg bg-white bg-opacity-20 placeholder-gray-300 text-white focus:outline-none focus:ring-2 focus:ring-white" 
                        type="password" 
                        id="password" 
                        name="senha" 
                        placeholder="Digite sua senha" 
                        required>
                </div> 
                <button 
                    class="w-full bg-white bg-opacity-20 text-white p-3 rounded-lg hover:bg-opacity-30 focus:outline-none focus:ring-2 focus:ring-white" 
                    type="submit">
                    ENTRAR
                </button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mt-4">
                {% for category, message in messages %}
                <div
                    class="p-4 mb-4 text-sm text-{{ 'text-green-700' if category == 'success' else 'text-red-700' }} bg-{{ 'bg-green-100' if category == 'success' else 'bg-red-100' }} rounded-lg"
                    role="alert"
                >
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>

</body>
</html>
